*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    /* width: 100%; */
    margin: 0 auto;
    border: 1px solid red;
}

.header,
.banner-section,
.habit,.run {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #E6533C;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    width: 50%;
}

.banner-text h1 {
    font-size: 78px;
}

p {
    color: #7E7E7E;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 13px 30px;
    border-radius: 30px;
}

.banner-image {
    position: relative;
}

.workout {
    background-color: #393939;
    color: black;
    width: 150px;
    border-radius: 10px;
    padding: 8px 20px;
    position: absolute;
    opacity: 0.8;
    color: white;
    top: 150px;
    right: -40px;
}

.tutorial {
    background-color: #393939;
    color: black;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px;
    color: white;
    position: absolute;
    bottom: 35px;
    left: -100px;
    opacity: 0.8;
}



.habit,.run {
    margin-top: 150px;
    border: 1px solid blue;
}

.habit-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.habit-text h1{
    font-size: 50px;
}

.habit-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habit-image img {
    border-radius: 50%;
}






.run{
    background-color: #222222;
    height: 400px;
    display: flex;gap: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.run-text{
    padding-left: 50px;
    width: 35%;
}

.run-image{
    width: 40%;
}