@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,704');




* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: inter;
}

header {
    margin: 0 auto;
    /* border: 1px solid red; */
}

.header,
.banner-section,
.habit,
.run,
.bmi,
.team,
.footer {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1,
footer h1 {
    color: #E6533C;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    width: 50%;
}

.banner-text h1 {
    font-size: 78px;
}

p,
td {
    color: #7E7E7E;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 13px 30px;
    border-radius: 30px;
}

.banner-image {
    position: relative;
}

.workout {
    background-color: #393939;
    color: black;
    width: auto;
    border-radius: 10px;
    padding: 8px 15px;
    position: absolute;
    opacity: 0.8;
    color: white;
    top: 170px;
    right: -100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tutorial {
    background-color: #393939;
    color: black;
    width: 180px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px;
    color: white;
    position: absolute;
    bottom: 35px;
    left: -100px;
    opacity: 0.8;
}



.habit,
.run,
.bmi-calculator,
.team-section,
.footer {
    margin-top: 150px;
    /* border: 1px solid blue; */
}

.habit-text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

.heading {
    font-size: 50px;
}

.habit-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habit-image img {
    border-radius: 50%;
}






.run {
    background-color: #222222;
    height: 400px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.run-text {
    padding-left: 50px;
    width: 35%;
}

.run-image {
    width: 40%;
}


.bmi {
    display: flex;
    padding: 30px 0;
}

.table,
.calculate {
    width: 50%;
}

.table table,
td,
th {
    border: 1px solid #2A2A2A;
    border-collapse: collapse;
    padding: 20px;
}

th {
    text-align: left;
}

.table table {
    margin-top: 40px;
}

.calculate input,
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 18px;
    border-radius: 8px;
    background-color: #393939;
    border: none;
    color: #7E7E7E;
}


.bmi-section,
footer {
    background-color: #222222;
}



.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222222;
    padding: 20px;
    border-radius: 20px;
}

.team img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    opacity: 0.7;
}


.img-card {
    position: relative;
}

.text {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.text p {
    color: white;
}



.footer-section {
    display: flex;
    justify-content: space-between;
    /* padding: 20px 0; */
}

.footer {
    padding: 30px 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    color: #7E7E7E;
}

footer li {
    padding-bottom: 10px;
}

footer h1 {
    font-size: 60px;
}